mixin video(video_info)
    a(href=`/videos/${video_info.id}`).video-mixin
        if isKoyeb
            div.video-mixin__thumb(style=`background-image:url(${video_info.videoThumbUrl}); background-size:cover; background-position:center;`)
        else
            div.video-mixin__thumb(style=`background-image:url(${"/"+video_info.videoThumbUrl}); background-size:cover; background-position:center;`)
        div.video-mixin__data
            span.video-mixin__title=video_info.title
            div.video-mixin__meta 
                span #{video_info.owner.name} • 
                span #{video_info.meta.views} 회
        